#navbar{
    display: flex;
    background-color: black;
    width: 100vw;
}

#titleDiv{
    flex: 3;
    text-align: left;    
    font-family: Montserrat,helvetica neue,Helvetica,Arial,sans-serif;
}

#name{
    font-size: 3em;
    color: #3e89b7;
    margin-left: 30px;
}

#navMenu{
    flex: 1;
    align-items: center;
    text-transform: uppercase;
    font-size: 17px;
    display: flex;
   
    font-weight: 700;

    max-height: 10vh;
}

#navItem > a {
    display: block;
    width: 100%;
}

#navMenu > div{
    cursor: pointer;
    flex: 1;
    border-bottom: solid 4px rgba(0,0,0,0);
    padding: 5px;
}

#navMenu a {
    text-decoration: none;
    color: #3e89b7;
}

#navMenu a:active{
    color: rgb(26, 23, 201);
}

#navMenu > div:hover{
    border-bottom: solid 4px #3e89b7;
    color: white;
}
